p.padding {
	padding-top: 3cm;
	padding-right: 23cm;
	
}

p.padding1 {
	
	padding-right:1cm;
}

p.padding2 {
	padding-right: 22cm;
	padding-top: 3cm;
}

p.padding3 {
	padding-top:3cm;
	padding-right:23.5cm;
}

p.padding4{
	padding-right:25cm;
}

p.padding5{
	padding-left:3cm;
}
	






